.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
secret_settings.py
venv/
backend/venv/
backend/closet/venv/
__pycache__/
*.pyc
db.sqlite3
backend/db.sqlite3
node_modules/
frontend/node_modules/
build/
frontend/build/
coverage/
